.header {
    height: 14%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 150px;
}

.header span {
    font-size: 40px;
    color: var(--dark-color);
    transition: all 0.3s;
}