.popupBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -100%;
    opacity: 0;
    transition: all 0.25s ease;
    scale: 0;
}

.popup {
    background: #FFF;
    width: 1000px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 4px 40px 8px rgba(34, 60, 80, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px 20px 28px 20px;
    gap: 7%;
}

.popup img {
    width: 55%;
}

.popup .header {
    color: #100C46;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.codeBox {
    display: flex;
    gap: 10px;
}

.codeBox input {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #A0ADB9;
    outline: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(16, 12, 70, 0.7);
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
    transition: all 0.25s ease;
}

.codeBox input:focus {
    border-color: var(--third-color);
}

.codeBox input:disabled {
    animation: 1s ease-in-out infinite inputProcessing;
}

@keyframes inputProcessing {
    0% {opacity: 1;}
    50% {opacity: 0.4;}
    100% {opacity:1;}
}

.popup .error {
    font-size: 22px;
    text-align: left;
    width: 350px;
    color: #FF2C2C;
    font-weight: 300;
    pointer-events: none;
    opacity: 0;
}

.popup .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup .error.active {
    opacity: 1;
}

.popup .inputs:has(.error.active) .codeBox input {
    border-color: #FF2C2C;
}