@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #F7F8FC;
    --second-color: #FFFFFF;
    --third-color: #4632c7;
    --dark-color: #100C46;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.sectionHeader {
    color: var(--dark-color);
    font-size: 25px;
    font-weight: 600;
    align-self: flex-start;
}

.header {
    padding: 0 2.5% 0 2.5%;
    box-sizing: border-box;
    width: 100%;
    min-height: 80px;
    height: 8%;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    min-height: 532px;
    height: 100%;
    width: 100%;
    padding: 2% 2.5% 1.5% 2.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 90px;
    overflow-x: hidden;
}

.statsBox {
    min-width: 650px;
    min-height: 828px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    box-sizing: border-box;
}

.recordsBox {
    min-height: 828px;
    height: 100%;
    min-width: 352px;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

.currentProgressBox {
    width: 100%;
    min-height: 475px;
    height: 71%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.goalStatsBox {
    position: relative;
    width: 100%;
    min-height: 185px;
    height: 29%;
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.panel {
    box-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.03);
    background-color: var(--second-color);
    border-radius: 10px;
}

.dateText{
    letter-spacing: -0.9px;
}

.currentProgressBox .chart{
    width: 100%;
    height: 58%;
    cursor: pointer;
}