@media screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
        gap: 1%;
        overflow-y: auto !important;
    }

    .statsBox{
        width: 100% !important;
        min-height: 724px;
    }

    .recordsBox {
        width: 100% !important;
    }

    .recordsTable td:first-child, .recordsTable th:first-child {
        width: 55px;
    }

    .recordsTable tbody {
        min-height: 540px !important;
    }

    .popup {
        padding: 1% !important;
    }

    .cardBox .card, .cardBox .progressCard, .cardBox .primaryProgressCard{
        height: 14dvh;
        max-height: 140px;
    }
}

@media screen and (max-width: 650px){
    .popup {
        padding: 2.5% !important;
    }

    .statsBox {
        min-width: 330px;
    }

    .cardBox {
        gap: 40px 15px !important;
    }

    .sectionHeader {
        font-size: 20px !important;
    }

    .card, .progressCard{
        padding: 2.5% !important;
    }

    .actionBox button {
        font-size: 15px !important;
    }

    .goalStatsBox {
        gap: 30px !important;
    }
}