:root {
    --progress-bar-stroke-width: 3.2;
}

.primaryProgressCard svg {
    height: 80%;
    width: 80%;
}

.primaryProgressCard .progressBar{
    margin-top: 5%;
}

.primaryProgressCard .progressBar span{
    font-size: 15px;
}

.progressBar{
    position: absolute;
    margin-top: -7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.progressBar .progressShadow{
    position: absolute;
    margin-top: 35%;
    width: 81px;
    background: transparent;
    height: 0;
    border-radius: 100%;
}

.purpleBar .progressShadow{
    margin-top: 55%;
    box-shadow: 0 0 25px 10px rgba(70, 50, 199, 0.1);
}

.purpleBar span {
    color: var(--third-color);
}

.purpleBar .progress-bar__progress{
    stroke: var(--third-color);
}

.blueBar .progressShadow{
    box-shadow: 0 0 25px 10px rgba(70, 129, 254, 0.2);
}

.blueBar span{
    color: #4681FE;
}

.blueBar .progress-bar__progress{
    stroke: #4681FE;
}

.orangeBar .progressShadow{
    box-shadow: 0 0 25px 10px rgba(253, 108, 65, 0.2);
}

.orangeBar span{
    color: #FD6C41;
}

.orangeBar .progress-bar__progress{
    stroke: #FD6C41;
}

.progressBar span{
    position: absolute;
    font-size: 10px;
    font-weight: 700;
}

svg {
    height: 70%;
    width: 70%;
}

.progress-bar__background {
    fill: none;
    stroke: #F9F9F9;
    stroke-width: var(--progress-bar-stroke-width);
}

.progress-bar__progress {
    fill: none;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: var(--progress-bar-stroke-width);
}